@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.logo {
  background-color: #e63946; 
  color: white; /* White text color */
  font-size: 26px;
  font-family: 'Bebas Neue', sans-serif; /* Bebas font */
  text-decoration: none; /* No text decoration */
  padding: 15px; /* Add padding to make the background visible */
  display: inline-block; /* Allows padding to affect inline elements like <a> */
}

.logo a {
  text-decoration: none; /* Ensures that the link has no underline */
  color: inherit; /* The color will be inherited from the #logo styles */
  display: block; /* Makes the link fill the area of #logo for better clickability */
}
  :root {
      --dark-blue: #2a3d66;
      --light-red: #e63946;
      --light-gray: #ffffdc;
      --dark-gray: #1e2124;
      --body-bg: #273147;
    }
  
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  
    body {
      font-family: 'Arial', sans-serif;
      background-color: var(--body-bg);
      color: var(--dark-gray);
    }
  
    header {
      background-color: var(--dark-blue);
      color: var(--light-gray);
      padding: 1rem;
    }
  
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;
    }
  
    .search-container {
      position: relative;
      width: 60%;
    }
  
    .search-container input[type="search"] {
      padding: 0.5rem;
      border: none;
      border-radius: 20px;
      outline: none;
      width: calc(100% - 5rem); /* Adjust width to leave space for button */
    }
  
    .search-container button {
      position: absolute;
      right: 0;
      top: 0;
      border: none;
      border-radius: 20px;
      padding: 0.5rem 1rem;
      background-color: var(--light-red);
      color: var(--light-gray);
      cursor: pointer;
    }
  
    main {
      padding: 1rem;
    }
  
    section {
      margin-bottom: 2rem;
      min-height: 200px;
      background-color: var(--light-gray);
      border-radius: 5px;
    }
  
    section h2 {
      background-color: var(--light-red);
      color: var(--light-gray);
      padding: 0.5rem 1rem;
      border-radius: 5px;
      margin-bottom: 1rem;
    }
  
    section p {
      background-color: white;
      padding: 1rem;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  
    footer {
      background-color: var(--dark-gray);
      color: var(--light-gray);
      text-align: center;
      padding: 1rem;
      position: relative;
      bottom: 0;
      width: 100%;
      height: 80px;
    }
