
    <nav>
        <!-- Text-based Logo placement -->
        <h3 class="logo-container">
            <a href="/" class="logo">
                Marvelous
            </a>
        </h3>

        <!-- Search container -->
        <div class="search-container">
            <input type="search" id="searchInput" placeholder="Search for a character...">
            <div id="resultsContainer" class="results-container"></div>
        </div>

        <!-- Other navigation items, if any, go here -->
    </nav>