
    <nav>
        <!-- Text-based Logo placement -->
        <h3 class="logo-container">
            <a href="/" class="logo">
                Marvelous
            </a>
        </h3>

        <!-- Search container -->
        <div class="search-container">
            <input type="search" id="searchInput" placeholder="Search for a character...">
            <div id="resultsContainer" class="results-container"></div>
        </div>
        <div class="slider-cont">
        <label class="toggle-switch">
            <input type="checkbox" id="darkModeToggle">
            <span class="slider round"></span>
          </label>
        </div>

        <!-- Other navigation items, if any, go here -->
    </nav>